ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=
PORT=
DATABASE_URL=
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
S3_BUCKET_NAME=
AWS_REGION=
GEMINI_API_KEY=
O_AUTH_CLIENT_ID=
CRON_SECRET=
MINDSAGE_DB_URL=
MINDSAGE_DB_USERNAME=
MINDSAGE_DB_PASSWORD=
MINDSAGE_DB_DATABASE=
EMAIL_PASS=
EMAIL_USER=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=