@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", "sans-serif";
  /* ─── Base Neutral Colors ─── */
  --color-base-light: hsl(0, 0%, 88%);
  --color-secondary-light: hsl(0, 0%, 92%);
  --color-tertiary-light: hsl(0, 0%, 96%);
  --color-base-dark: hsl(0, 0%, 5%);
  --color-secondary-dark: hsl(0, 0%, 9%);
  --color-tertiary-dark: hsl(0, 0%, 15%);

  --color-surface-light: hsl(0, 0%, 98%);
  --color-surface-dark: hsl(0, 0%, 10%);

  --color-text-light: hsl(0, 0%, 5%);
  --color-text-light-sub: hsl(0, 0%, 30%);
  --color-text-dark: hsl(0, 0%, 95%);
  --color-text-dark-sub: hsl(0, 0%, 70%);

  --color-border-light: hsl(0, 0%, 70%);
  --color-border-dark: hsl(0, 0%, 30%);

  --color-danger: hsl(0, 50%, 60%);
  --color-warning: hsl(61, 50%, 60%);
  --color-success: hsl(120, 50%, 60%);
  --color-info: hsl(238, 52%, 70%);

  /* ─── Brand Accent Colors ─── */
  /* light mode */
  --color-light1: hsl(232, 33%, 75%);
  --color-light2: hsl(191, 26%, 82%);
  --color-light3: hsl(120, 24%, 87%);
  --color-light4: hsl(68, 48%, 90%);

  /* dark mode */
  --color-dark1: hsl(235, 17%, 25%);
  --color-dark2: hsl(202, 25%, 27%);
  --color-dark3: hsl(193, 21%, 40%);
  --color-dark4: hsl(136, 17%, 55%);
}

.mood-slider {
  background: var(--gradient);
}

.dark .mood-slider {
  background: var(--dark-gradient);
}

/* --- Webkit (Chrome, Safari) --- */
.mood-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--thumb-color);
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: -7px; /* Center thumb on the track */
}

/* --- Firefox --- */
.mood-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--thumb-color);
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Hide scrollbar in Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar in IE, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
